.navbar-custom {
  padding: 18px 32px;
  background: #0f2c5b; /* theme color */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

}
.navbar-logo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
  padding: 4px;
}


/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.logo-mark {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: linear-gradient(135deg, #0b6cf0, #17a085); /* theme */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
}

.logo-text .brand-name {
  font-weight: 800;
  font-size: 18px;
  color: #f5f7fb;
}

.logo-text .brand-tag {
  font-size: 12px;
  color: #f5f7fb;
}

/* Links (desktop + toggle dono ke liye) */
.navbar-custom .navbar-nav .nav-link {
  margin-left: 18px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  color: #f5f7fb !important;   /* force white */
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #0b6cf0 !important;   /* accent on hover */
}

/* Toggle background (mobile menu) */
.navbar-custom .navbar-collapse {
  background: #0f2c5b;  /* same as navbar */
  padding: 10px;
}
/* Make the navbar toggle icon white */
.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}